*{
	margin: 0;
	padding: 0;
	font-family: 'Times New Roman', Times, serif;
	box-sizing: border-box;
}
body{
	display: flex;
	height: auto;
	flex-wrap: wrap;
	text-rendering: auto;
	justify-content: center;
	align-items:center;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}	
.hello{
	font-size: 30px;
	margin-top: 70px;
	margin-left: 13%;
	text-align: left;
	display: flex;
	
}
.first .team-name{
display: flex  ;
font-size: 45px;
font-weight: 600;
text-align: left;
margin-left: 13%;
}

.description{
font-family: Georgia, 'Times New Roman', Times, serif;
margin-left: 11%;
width: 45%;
padding: 28px;
text-align: left;

}
.first{
	background-image: url('TOP\ PNG.png');
	background-position: top;
  	background-repeat: no-repeat;
  	background-size:cover;
	width: 100%;
}
.second{
	background-image: url('BOTTOM\ PNG.png');
	background-position: bottom;
  	background-repeat: no-repeat;
  	background-size: cover;
	width: 100%;
}
.enquiry{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 26px;
	font-weight: 120;
	text-align: left;
	color: #000000;
	padding-bottom: 60px;
}
.tell{
font-family:'Courier New', Courier, monospace;
font-size: 24px;
font-weight: 100;
text-align: left;
color: black;
padding-bottom: 30px;
}

.web-enquiry-form {
	/*background-color: blue;*/
	margin-left: 60%;
	padding-top: 10%;
	padding-bottom: 10%;
	
}
input[type=text], input[type=email]{

	width: 250px;
	height: 35px;
	border: 1px solid #000000;
	border-radius: 5px;
	box-sizing: border-box;
	margin-bottom: 10px;
	justify-content: left;
	flex-wrap: wrap;
	font-size: 15px;
	background: #fff;
}
textarea {
	width: 350px;
	height: 80px;
	border: 1px solid #000000;
	border-radius: 2px;
	font-size: 15px;
	background: #fff;
	padding-top: 5px;
	
}
::placeholder{
	color: #000000a7;
	padding-left: 9px;
	size: 10px;

}


input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 15px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 10px;
}
